.chat {
  height: 100%;
  width: calc(100% - 300px);
  float: left;
  position: relative;

  .chat-header {
    height: 100px;
    padding: 0px 40px;
    background-color: $white;

    .chat-header__group {
      float: left;

      .chat-header__group__name {
        font-size: 20px;
        color: #333333;
        margin: 35px 0px 15px;
      }

      .chat-header__members {
        font-size: 12px;
        float: left;
        color: $lightgray;
      }
    }

    .chat-header__group__edit-btn {
      float: right;
      height: 40px;
      margin-top: 28px;
      line-height: 40px;
      text-align: center;
      padding: 0px 20px;
      font-weight: bold;
      border: 2px solid $lightblue;

      a {
        color: $lightblue;
        text-decoration: none;
      }
    }
  }

 .chat-body {
    height: calc(100% - 190px);
    padding: 0px 40px;
    background-color: $white;
    border-top: 1px solid #eeeeee;
    overflow-y: scroll;

    .chat-body__messages-list {
      float: left;
      margin: 46px 0px 10px;

      .chat__message-name {
        padding-right: 10px;
        font-size: 16px;
        color: #434A54;
        font-weight: bold;
      }

      .chat__message-time {
        font-size: 12px;
        color: $lightgray;
      }

      .chat__message-body {
        font-size: 14px;
        color: #434A54;
        margin-bottom: 40px;
        clear: both;
      }
    }
  }
}

