.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  color: $white;

  .sidebar__user {
    height: 100px;
    background-color: #253141;
    padding: 0px 20px;

    .sidebar__user__name {
      font-size: 16px;
      font-weight: bold;
      line-height: 100px;

      .sidebar__user--icon {
        float: right;
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }

  .sidebar__groups {
    background-color: #2f3e51;
    padding: 20px;
    color: $white;

    .sidebar__group-name {
      font-size: 15px;
      margin: 20px 0px 5px;
    }

    .sidebar__group-message {
      font-size: 11px;
      margin-bottom: 40px;
    }
  }
}
